{% set elasticsearch = salt['pillar.get']('elasticsearch', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'elasticsearch_pkg': 'elasticsearch',
            'java_pkg': 'openjdk-8-jre'
        },
        'RedHat': {
            'elasticsearch_pkg': 'elasticsearch',
            'java_pkg': 'java-1.8.0-openjdk'
        },
    }),
    'config': {},
}, merge=True) %}
